@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --tai: 300px;
}

body{
    background-color: #fefae0;
    color: black;
    font-family: "Quicksand", sans-serif;
}

.slide{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: beige;
}

.mode{
    width: 100%;
    height: 100vh;
    position: absolute;
    transform: translate(0, -100%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.mode .zone{
    width: 50%;
    height: 30vh;
    background-color: blanchedalmond;
    background-image: url(images/wood.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 20px;

}

.mode .zone button{
    width: 60px;
    height: 40px;
    border-radius: 10px;
    background-color: beige;
    border: 3px solid #8B5A2B;
    font-family: "Quicksand", sans-serif;
}

.mode .zone button:hover{
    background-color: rgb(194, 194, 137);
}

.soluce{
    height: var(--tai);
    width: var(--tai);
    border: 1px solid black;
    background-image: url(images/apple3.jpg);
}

.soluce .cache{
    height: 100%;
    width: 100%;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.8s;
    color: white;
}

.soluce .cache:hover{
    opacity: 0;
}

.game-zone{
    height: var(--tai);
    width: var(--tai);
    border: 4px solid #8B5A2B;
    background-color: #C19A6B;
    background-image: url(images/wood.jpg);
    background-size: 300px 300px;
    display: grid;
}

.tile{
    width: 100%;
    height: 100%;
    background-image: url(images/apple3.jpg);
    background-size: var(--tai) var(--tai); /* même taille que le conteneur */
    box-sizing: border-box;
    border: 1px solid #ccc;

}

.tile.empty{
    background: none;
    border: none;
}

#timer{
    position: absolute;
    top: 30px;
    left: 100px;
    color: black;
    font-size: 24px;
    z-index: 100;
}

.best{
    position: absolute;
    top: 30px;
    right: 100px;
    color: black;
    font-size: 24px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.best .btime, .best .btime2{
    display: inline;
}


.abs{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.victoire{
    height: 200px;
    width: 400px;
    background-color: #fffbe6;
    color: green;
    border: 3px solid green;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.replay{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.replay svg{
    width: 70%;
    height: 70%;
}

.repZone{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    gap: 20px;
    z-index: 100;
}

#mute{
    width: 24px;
    height: 24px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#mute svg{
    width: 80%;
    height: 80%;
}

@media all and (max-width: 1270px){
    .best, #timer{
        font-size: 20px;
    }
}

@media all and (max-width: 1000px){
    .best{
        right: 50px;
    }
    #timer{
        left: 50px;
    }
}

@media all and (max-width: 800px){
    .repZone{
        top: 80%;
    }
}

@media all and (max-width: 700px){
    :root{
        --tai: 250px;
    }

    .best{
        right: 25px;
    }
    #timer{
        left: 25px;
    }

    .best, #timer{
        font-size: 18px;
    }
}

@media all and (max-width: 600px){
    :root{
        --tai: 200px;
    }
}

@media all and (max-width: 500px){
    /* :root{
        --tai: 175px;
    } */

    .slide{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .repZone{
        top: 86%;
        gap: 10px;
    }
}

@media all and (max-width: 400px){
    :root{
        --tai: 175px;
    }
}